@import "tailwindcss";

@theme {
  --color-netflix-black: #141414;
  --color-netflix-red: #e50914;
  --color-netflix-gray: #a3a3a3;
  --color-netflix-dark-gray: #2d2d2d;
  --color-netflix-light-gray: #808080;
}
